.q-block-el {
    // border: 1px solid grey;
    padding-block: 2em;

    .content {
        .question {
            color: var(--main--c);
            margin-bottom: 1em;
        }

        .answers-list {
            display: grid;
            grid-template: auto auto / repeat(2, 1fr);
            gap: 1em;
            list-style-type: none;

            li {
                width: auto;
                pointer-events: none;

                button {
                    background-color: hsla(2, 73%, 20%, 0.6);
                    border-color: var(--main--c);
                    border-radius: .5em;
                    color: var(--main--c);
                    padding: .25em 1em;
                    pointer-events: all;
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    font-size: 1.25em;
                    font-weight: 900;

                    &:hover {
                        background-color: #ffffff21;
                        filter: contrast(.9);
                    }

                    &:active {
                        transform: translateY(4px);
                    }

                    &.selected {
                        background-color: hsla(60, 76%, 21%, 0.6);
                        border: 2px solid var(--main--c);
                        color: hsl(35, 92%, 54%);
                    }

                    &:disabled {
                        border-color: #8F94AF;
                        color: #8F94AF;

                        &.selected {
                            background-color: hsla(133, 64%, 71%, .2);
                            border-color: hsl(133, 64%, 71%);
                            color: hsl(133, 64%, 71%);

                            &.incorrect {
                                // background-color: #F8BCBC;
                                // border-color: #F8BCBC;
                                // color: #8F94AF;
                                background-color: hsla(0, 100%, 60%, .2);
                                border-color: #ff3232;
                                color: #ff3232;
                            }
                        }
                    }
                }
            }
        }
    }
}