.q-block-el {
  padding-block: 2em;
}
.q-block-el .content .question {
  color: var(--main--c);
  margin-bottom: 1em;
}
.q-block-el .content .answers-list {
  display: grid;
  grid-template: auto auto/repeat(2, 1fr);
  gap: 1em;
  list-style-type: none;
}
.q-block-el .content .answers-list li {
  width: auto;
  pointer-events: none;
}
.q-block-el .content .answers-list li button {
  background-color: transparent;
  border: 2px solid var(--main--c);
  border-radius: 0.5em;
  padding: 0.25em 1em;
  pointer-events: all;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.q-block-el .content .answers-list li button:hover {
  background-color: #FFF;
  filter: contrast(0.9);
}
.q-block-el .content .answers-list li button:active {
  transform: translateY(4px);
}
.q-block-el .content .answers-list li button.selected {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}
.q-block-el .content .answers-list li button:disabled {
  border-color: #8F94AF;
  color: #8F94AF;
}
.q-block-el .content .answers-list li button:disabled.selected {
  background-color: #94D7A2;
  border-color: #94D7A2;
  color: var(--main--c);
}
.q-block-el .content .answers-list li button:disabled.selected.incorrect {
  background-color: #F8BCBC;
  border-color: #F8BCBC;
  color: #8F94AF;
}